.places {
    text-align: left;
    vertical-align: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.places h1 {
    font-size: 30px;
    flex: 100%;
}

section.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}

section.places article h2 {
    text-align: center;
    font-size: 30px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px #FF5A5F solid;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    line-height: 60px;
}

.places article .information {
    height: 80px;
    border-top: 1px #DDDDDD solid;
    border-bottom: 1px #DDDDDD solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.max_guest {
    width: 100px;
}

.number_rooms {
    width: 100px;
}

.number_bathrooms {
    width: 100px;
}

.guest_icon {
    background-image: url(../images/icon_group.png);
    background-position: center;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;  
}

.rooms_icon {
    background-image: url(../images/icon_bed.png);
    background-position: center;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;  
}

.bath_icon {
    background-image: url(../images/icon_bath.png);
    background-position: center;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;  
}

.places article .user {
    margin-top: 20px;
    margin-bottom: 15px;
}
